# Database
DB_HOST=127.0.0.1
DB_NAME=spk_vikor_bansos
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# App
APP_TIMEZONE=Asia/Jakarta

# Brevo Mail
BREVO_API_KEY=your_brevo_api_key_here
MAIL_FROM_NAME=SPK VIKOR BANSOS
MAIL_FROM_EMAIL=your_email@gmail.com
